/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */


/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@layer base {
     :root {
        --color-bg-base: #4a5667;
        --color-bg-eitder-dark: #1e1e1e;
        --color-bg-side: #2B2D33;
        --color-bg-head-iframe: #E6E6E6;
        --color-text-base: #6E7A82;
        --color-bg-editor-editing: #1F1E1C;
        --color-bg-editor-playing: #212328;
        --color-text-console-label: #6C7A81;
        --color-text-console-normal: #D4D4D4;
        --color-border: #2A2E2F;
        --color-primary-blue: #3b82f6;
        --color-bg-sidebar-editing: #272723;
        --color-btn-blue: #5034FF;
        --color-palettes-mint: #D3E4CD;
        --color-palettes-green: #ADC2A9;
        --color-palettes-dark-green: #99A799;
        --color-palettes-cream: #FEF5ED;
        font-family: 'Karla', sans-serif;
    }
}